<div class="d-flex justify-content-center" *ngIf="token && email">
    <div class="col-12 col-lg-5">
        <main class="form-signin">
            <form [formGroup]="resetPasswordForm" class="form-signin" (ngSubmit)="resetPassword()" autocomplete="off">
                <div class="text-center mb-4">
                    <h1 class="mb-3 font-weight-normal">
                        Change your password
                    </h1>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" formControlName="email" placeholder="email" class="form-control">
                    <label for="">Email</label>
                </div>

                <div class="form-floating mb-3">
                    <label for="">New Password</label>
                    <input
                      formControlName="newPassword"
                      type="password"
                      placeholder="New Password"
                      class="form-control"
                      required
                    />
          
                    <span
                    class="text-danger"
                    *ngIf="fc.newPassword.touched && fc.newPassword.invalid"
                  >
                    <span *ngIf="fc.newPassword.errors?.required">
                        New password is required</span
                    >
                  </span>
          
                  <span
                    class="text-danger"
                    *ngIf="fc.newPassword.touched && fc.newPassword.invalid"
                  >
                    <span *ngIf="fc.pnewPassword.errors?.minLength && fc.newPassword.errors?.maxLength">
                      New password must be minimum 3 and maximum 15 characters
                      </span
                    >
                  </span>
                  </div>

                <div class="form-floating" *ngIf="errorMessages.length > 0">
                    <app-validation-message [errorMessages]="errorMessages"></app-validation-message>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="d-grid">
                            <button class="btn btn-block btn-success" type="submit">Change Password</button>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="d-grid">
                            <button class="btn btn-block btn-danger" type="submit" routerLink="/account/login">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>