<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="nav-brand">
                <img src="/src/assets/1.png" class="me-3" alt="">
            </a>
            <button class="navbar-toggle">
                <span class="navbar-toggle-icon"></span>
            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="" class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
                    </li>
                    <li><a class="nav-link" routerLink="/play" routerLinkActive="active">Play</a></li>

                    <li>
                        <a *appUserHasRole="['Admin']" class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
                    </li>
                </ul>

                <ul class="navbar-nav" *ngIf="(accountService.user$ | async) === null">
                    <li class="nav-item">
                        <a class="btn btn-secondary mx-2" routerLink="/account/register" routerLinkActive="active">Create Account</a>
                    </li>
                    <li>
                        <a class="btn btn-secondary" routerLink="/account/login" routerLinkActive="active">Login</a>
                    </li>
                </ul>

                <div class="d-flex align-items-center" *ngIf="(accountService.user$ | async) as user">
                    <a href="" class="text-white" style="text-decoration-line: none;">
                    Hi <strong>{{ user.firstName | titlecase }}</strong></a>

                    <a class="btn btn-sm btn-info ms-2" (click)="logout()">LogOut</a>
                </div>
            </div>
        </div>
    </nav>
</header>