<div class="d-flex justify-content-center">
    <div class="col-12 col-lg-5">
        <main class="form-signin">
            <form [formGroup]="form" (ngSubmit)="login()" autocomplete="off">
                <div class="text-center mb-4">
                    <h3 class="mb-3 font-weight-normal">Login</h3>
                </div>

                <div class="form-floating mb-3">
                    <label for="">Email</label>
                    <input type="email" 
                    placeholder="Username (your email)" 
                    class="form-control"
                    formControlName="username"
                    [ngClass]="{'is-invalid' : fc.username.touched && fc.username.invalid}"
                    required>

                    <span class="text-danger" *ngIf="fc.username.touched && fc.username.invalid">
                        <span *ngIf="fc.username.errors?.required" >
                             Username is required
                        </span>
                    </span>
                </div>

                <div class="form-floating mb-3">
                    <label for="">Password</label>
                    <input type="password" 
                    placeholder="Password" 
                    class="form-control" 
                    formControlName="password"
                    required
                    [ngClass]="{'is-invalid':fc.password.touched && fc.password.invalid}">

                    <span class="text-danger" *ngIf="fc.password.touched && fc.password.invalid">
                        <span *ngIf="fc.password.errors?.required">
                            Password is required
                        </span>
                    </span>
                </div>

                <div class="form-floating" *ngIf="errorMessages.length > 0">
                    <app-validation-message [errorMessages]="errorMessages"></app-validation-message>
                    <a class="btn btn-link" (click)="resendEmailConfirmationLink()" *ngIf="errorMessages[0].includes('Please confirm your email')">
                        Click here to resend email confirmation link
                    </a>
                </div>

                <div class="d-grid mt-4 px-1">
                    <button class="btn btn-md btn-info" [disabled]="form.invalid">Login</button>
                </div>
            </form>

            <div class="mt-4 text-center">
                <a href="" class="btn btn-link">
                    <h6>Forgot username or password</h6>
                </a>
            </div>
        </main>
    </div>
</div>
